<?xml version="1.0" encoding="UTF-8"?>
<configuration scanPeriod="10 minutes">

    <property name="logger.file.name" value="diamond-server-log"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n%rEx
            </pattern>
        </encoder>
    </appender>

    <appender name="ERRORFILE"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>../logs/${logger.file.name}/error.log</file>
        <Append>true</Append>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>../logs/${logger.file.name}/%d{yyyy-MM-dd}/error.log
            </fileNamePattern>
            <maxHistory>50</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%t] %5p |-%C:%L - %m %n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <appender name="ROOTFILE"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>../logs/${logger.file.name}/root.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>../logs/${logger.file.name}/%d{yyyy-MM-dd}/root.log
            </FileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%t] %5p |-%C:%L - %m %n</pattern>
        </encoder>
    </appender>

    <logger name="com.taobao.diamond" level="${logger.level}">
        <appender-ref ref="${root.file}"/>
        <appender-ref ref="${error.file}}"/>
    </logger>

    <root level="${logger.level}">
        <appender-ref ref="${root.file}}"/>
        <appender-ref ref="${error.file}}"/>
    </root>
</configuration>