<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aicai.mapper.PropertyMapper">

    <insert id="insert" useGeneratedKeys="true" keyProperty="id"
            parameterType="com.aicai.po.PropertyPo">
		<![CDATA[

		INSERT INTO property
		( `fileName`, `projectName`, `key`, `value`)
		VALUES
		( #{fileName}, #{projectName}, #{key}, #{value})

        ]]>
	</insert>

</mapper>