<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aicai.mapper.XmlMapper">

    <insert id="insert" useGeneratedKeys="true" keyProperty="id"
            parameterType="com.aicai.po.XmlPo">
		<![CDATA[

		INSERT INTO xml
		( fileName, projectName, varName, parentName)
		VALUES
		( #{fileName}, #{projectName}, #{varName}, #{parentName})

        ]]>
	</insert>

</mapper>